
    
 .owl-next{
     background-color: red!important;
     width: 40px;
     height: 40px;
     border-radius: 100% !important;
     color: white !important;
     position: absolute;
     right: 50px;
     top: 40px;
 }

 .owl-prev{
    background-color: red!important;
    width: 40px;
    height: 40px;
    border-radius: 100% !important;
    color: white !important;
    position: absolute;
    left: 50px;
    top: 40px;
}
    
